
/* Nút chính */
.btn-main {
    background-color: #00CC99;
    color: white;
    border-radius: 3px;
    font-weight: 600;
    padding: 8px 25px;
}
.btn-main:hover {
    background-color: #009977;
    color: white;
}

/* Card phòng */
.card-room {
    border-radius: 15px !important;
    overflow: hidden;
    border: 1px solid #d2d2d2;
}

/* Header card */
.room-header {
    background-color: #0051ff;
    color: white;
    font-weight: bold;
    padding: 12px 18px;
    font-size: 18px;
}

/* Ảnh */
.img-room {
    object-fit: cover;
}

/* Tiêu đề thông tin */
.title-info {
    color: #009688;
    font-weight: bold;
}

/* Cột bên phải */
.room-right {
    border-left: 1px solid #dcdcdc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 15px;
}

/* Trạng thái */
.status {
    font-weight: bold;
}
.dot-red {
    color: red;
}

/* Nút sửa */
.btn-edit {
    background-color: #00CC99;
    color: white;
    font-weight: 600;
    width: 100%;
    border-radius: 10px;
}
.btn-edit:hover {
    background-color: #009977;
    color: white;
}

/* Nút xóa */
.btn-delete {
    border: 2px solid #00CC99;
    color: #00CC99;
    font-weight: 600;
    width: 100%;
    border-radius: 10px;
    background: transparent;
}
.btn-delete:hover {
    background-color: #009977;
    color: white;
}
