<div class="container-fluid fixed-bottom d-flex justify-content-center tro-color">
    <h6 class="text-white m-0 p-1">2025 © Copyright by Xóm Trọ . Hotline: <a class="text-decoration-none" href="">0931493785</a>. Email: <a class="text-decoration-none" href="">tuannghia5839[at]gmail.com</a></h6>
</div>
