<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="/css/style.min.css">
    <title>Xóm Trọ</title>
</head>
<body class="" style="cursor: default;">

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const urlParams = new URLSearchParams(window.location.search);
            const status = urlParams.get('status');

            if (status) {
                let title = '';
                let type = 'success'; 
                
                switch (status) {
                    
                    case 'sua':
                        title = 'Cập nhật thành công thành công!';
                        break;

                    case 'sdtfail': 
                        title = 'Số điện thoại bị trùng';
                        type = 'failure';;
                        break;

                    case 'cmndfail': 
                        title = 'CMND bị trùng';
                        type = 'failure';;
                        break;

                    default:
                        return; 
                }

                showNotification(type, title,);

                const newUrl = window.location.pathname;
                window.history.replaceState(null, null, newUrl);
            }
        });
    </script>

    {{> header}}

    {{{body}}}

    {{> footer}}

    {{!-- Thêm --}}
    {{!-- Sửa --}}
    <div class="form-nguoidung-cover form-cover z-3 fixed-top d-none justify-content-center" 
    onclick="closeForm('.form-nguoidung-cover')">
        <div class="p-3 rounded-2 w-auto position-relative" 
        onclick="event.stopPropagation()" 
        style=" background-color: #E8E8E8; min-width: 400px; height: fit-content;">
            
            {{!-- Nút đóng form --}}
            <button class="btn btn-close position-absolute top-0 end-0 m-0 me-1 mt-1 btn-danger fw-bolder"
            onclick="closeForm('.form-nguoidung-cover')"></button>

            <h3 class="form-nguoidung-title text-center text-success mb-4">a</h3>

            <form class="form-nguoidung" action="/admin/nguoidung" method="POST" enctype="multipart/form-data" >
                <input type="hidden" name="HinhNDCu">
                <input type="hidden" name="MaND">

                <div class="d-flex">
                    <div class="d-flex justify-content-center align-items-center">
                        <img src="/img/logo.png" height="230" width="150" class="AVTND border rounded-3"
                        style="object-fit: cover; object-position: center;" alt="Ảnh đại diện">
                        </div>
                    <div class="ms-2 w-100">
                        <div class="mb-3">
                            <label class="form-label">Họ tên:</label>
                            <input type="text" name="HoTenND" class="form-control" placeholder="Nhập họ tên">
                            <small class="text-danger d-none" id="HoTenNDError">a</small>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">CCCD:</label>
                            <input type="text" name="CMNDND" class="form-control" placeholder="Nhập căn cước công dân">
                            <small class="text-danger d-none" id="CMNDNDError">a</small>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Năm sinh:</label>
                            <input type="date" name="NamSinhND" class="form-control" placeholder="Chọn năm sinh">
                            <small class="text-danger d-none" id="NamSinhNDError">a</small>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">SDT:</label>
                            <input type="text" name="SDTND" class="form-control" placeholder="Nhập số điện thoại">
                            <small class="text-danger d-none" id="SDTNDError">a</small>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                        <label class="form-label">Địa chỉ liên hệ:</label>
                        <div class="row g-2">
                            <div class="col-12">
                                <input type="text" id="street" class="form-control" placeholder="Số nhà, tên đường..." oninput="updateAddressString()">
                            </div>
                            <div class="col-12">
                                <select class="form-select" id="province" onchange="updateAddressString()">
                                    <option value="">-- Chọn Tỉnh/Thành phố --</option>
                                </select>
                            </div>
                            <div class="col-6">
                                <select class="form-select" id="district" disabled onchange="updateAddressString()">
                                    <option value="">-- Chọn Quận/Huyện --</option>
                                </select>
                            </div>
                            <div class="col-6">
                                <select class="form-select" id="ward" disabled onchange="updateAddressString()">
                                    <option value="">-- Chọn Phường/Xã --</option>
                                </select>
                            </div>
                        </div>
                        <input type="text" name="ThuongTruND" class="form-control mt-3" placeholder="Nhập địa chỉ thường trú" readonly id="fullAddress">
                        <small class="text-danger d-none" id="ThuongTruNDError">a</small>
                    </div>
                <div class="mb-3">
                    <label class="form-label">Ảnh người dùng:</label>
                    <input type="file" name="HinhND" class="form-control" placeholder="Chọn ảnh"  onchange="xemThuAnh(this,'.AVTND')">
                    <small class="text-danger d-none" id="HinhNDError">Hãy chọn 1 ảnh</small>
                </div>
                <div class="mb-3 vaiTro">
                    <label class="form-label">Vai trò:</label>
                    <select class="form-select" name="QuyenND">
                        <option value="">Chọn vai trò</option>
                        <option value="admin">Chủ trọ</option>
                        <option value="user">Người thuê</option>
                    </select>
                </div>
                <div class="text-center">
                    <button class="btn btn-success px-4" name="btnLuuND" value="1" type="submit">Lưu Thông Tin</button>
                    {{!-- Đặt lại mật khẩu --}}
                    <button class="btn btn-delete px-4 btnDatLaiMK" name="btnDatLaiMK"
                    type="button"
                    data-id=""
                    style="width: auto; margin-left: 10px;"
                    onclick="DLMKNguoiDung(this)">Đặt lại mật khẩu</button>
                    {{!-- Xóa --}}
                    <button type="button"
                    class="btn btn-danger px-4 btnXoaND" name="btnXoaND" 
                    data-id=""
                    data-hinh=""
                    style="width: auto; margin-left: 10px;" 
                    onclick="XoaNguoiDung(this)">Xóa</button>
                </div>
            </form>
        </div>
    </div>

     {{!-- Form đổi mật khẩu --}}
    <div 
    class="form-doimk-cover form-cover z-3 fixed-top d-none justify-content-center align-items-center" 
    onclick="closeForm('.form-doimk-cover')">
        <div class="p-3 rounded-2 w-auto h-auto position-relative" 
        onclick="event.stopPropagation()" 
        style=" background-color: #E8E8E8; min-width: 400px; ">
            
            {{!-- Nút đóng form --}}
            <button class="btn btn-close position-absolute top-0 end-0 m-0 me-1 mt-1 btn-danger fw-bolder"
            onclick="closeForm('.form-doimk-cover')"></button>

            <h3 class="form-doimk-title text-center text-success mb-4">Đổi Mật Khẩu</h3>

            <form class="form-doimk" action="/{{role}}/mkupdate" method="POST" >
                <input type="hidden" name="MaNDCMK" value="{{info.MaND}}">
                <div class="mb-3">
                    <label class="form-label">Mật khẩu cũ:</label>
                    <div class="input-group">
                        <input type="password" name="MKC" class="form-control" id="MKCInput">
                        <span class="input-group-text" id="toggleMKC" style="cursor: pointer;">
                            <i class="bi bi-eye" id="iconMKC"></i>
                        </span>
                    </div>
                    <small class="text-danger d-none" id="MKCError">Lỗi mật khẩu cũ</small>
                </div>

                <div class="mb-3">
                    <label class="form-label">Mật khẩu mới:</label>
                    <div class="input-group">
                        <input type="password" name="MKM" class="form-control" id="MKMInput">
                        <span class="input-group-text" id="toggleMKM" style="cursor: pointer;">
                            <i class="bi bi-eye" id="iconMKM"></i>
                        </span>
                    </div>
                    <small class="text-danger d-none" id="MKMError">Lỗi mật khẩu mới</small>
                </div>

                <div class="mb-3">
                    <label class="form-label">Xác nhận mật khẩu mới:</label>
                    <div class="input-group">
                        <input type="password" name="XNMKM" class="form-control" id="XNMKMInput">
                        <span class="input-group-text" id="toggleXNMKM" style="cursor: pointer;">
                            <i class="bi bi-eye" id="iconXNMKM"></i>
                        </span>
                    </div>
                    <small class="text-danger d-none" id="XNMKMError">Lỗi xác nhận mật khẩu</small>
                </div>
                <div class="text-center">
                    <button class="btn btn-success px-4" name="btnLuuCMK" value="1" type="submit">Lưu mật khẩu</button>
                </div>
            </form>
        </div>
    </div>
    {{!-- Moda thông báo thành công --}}
    <div class="modal fade" id="statusModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog modal-dialog-centered modal-sm"> <div class="modal-content text-center" id="modalContent">
                <div class="modal-body text-center">
                    <i id="notifyIcon" class="status-icon bi"></i>
                    <h4 id="notifyTitle" class="modal-title fw-bold h4"></h4>
                </div>
                
                <div id="timerBar" class="timer-bar"></div>
            </div>
        </div>
    </div>
    {{!-- Loading --}}
    <div id="loading-overlay">
        <div class="loader-container">
            <div class="spinner"></div>
            <p>Đang xử lý...</p>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/main.min.js"></script>
    <script src="/js/security.min.js"></script>
</body>
    <script>
        function killLoading() {
            var loader = document.getElementById('loading-overlay');
            if (loader) {
                loader.style.display = 'none';
                loader.style.visibility = 'hidden';
                loader.style.opacity = '0';
            }
            document.body.style.overflow = 'auto';
        }
        window.addEventListener('pageshow', function(event) {
            if (event.persisted){killLoading();}
        });
    </script>
</html>